* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f7f7f7;
}

ion-icon {
  font-size: 2.4rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.app {
  max-width: 420px;
  margin: 0 auto;
  background-color: #f1f1f1;
  font-size: 1.4rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 99999999999;
  background-color: #eee;
}

.header__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__topbar #brand {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.header__search {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  transition: 2s;
}

#header__search--form {
  height: 2.5rem;
}

#header__search--input {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #e1e1e1;
  outline: none;
}

.header__title {
  padding: 0 1rem;
}

.feed,
.results,
.bookmarks,
.profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

.card__header {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photographer__details {
  /* flex-grow: 1; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.photographer__pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.card__header--pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.photo__location {
  font-size: 1.2rem;
}

.card__body {
  position: relative;
}

.card__body--pic {
  width: 100%;
}

.card__body--overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 999999;
  transition: 1s;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  /* justify-content: center; */
  align-items: center;
}

.photographer__profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 1rem 2rem;
}

.photographer__profile--overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.photographer__profile--pic {
  width: 6rem;
  height: 6rem;
}

.photographer__picture--profile {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.photographer__profile--stats {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.photographer__profile--stats > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographer__profile--location {
  display: flex;
  align-items: center;
}

.photographer__profile--unsplash a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.photographer__profile--links {
  display: flex;
  gap: 1rem;
}

.photographer__profile--links a {
  color: #fff;
  text-decoration: none;
}

.card__footer {
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.card__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photo__interaction {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.card__footer--meta {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px; */
}
.photographer__name,
.photographer__username {
  font-weight: bold;
}

.photo__likes {
  margin-bottom: 0.5rem;
}

.pagination {
  display: flex;
  justify-content: space-around;
}

.pagination__prev,
.pagination__next,
.pagination__loadmore {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  /* background-color: #3498db;
  padding: 0.5rem 1rem;
  border-radius: 5rem; */
  color: #3498db;
  cursor: pointer;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;

  position: sticky;
  bottom: 0;

  z-index: 999999999;
  background-color: #eee;
  padding: 1rem;
}

.footer a {
  text-decoration: none;
  color: #3498db;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 1rem;
  font-size: 1.5rem;
}

.error ion-icon {
  font-size: 3rem;
  color: #e74c3c;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}

.spinner ion-icon {
  height: 6rem;
  width: 6rem;
  /* fill: tomato; */
  animation: rotate 2s infinite linear;
}

.pagination .spinner {
  margin: 0 auto;
  text-align: center;
}

.pagination .spinner ion-icon {
  height: 2.4rem;
  width: 2.4rem;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
