$color-accent: #3498db;
$color-alert: #e74c3c;

$color-primary: #e1e1e1;
$color-secondary: #f1f1f1;
$color-tertiary: #eee;

$color-dark: #000;
$color-light: #fff;

$color-text-light: #fff;
$color-text-dark: #000;
